<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <div th:each="user,stat:${user}">
    <h2>エントリー</h2>
    <ul>
      <li>[[${user.userName}]]</li>
    </ul>
  </div>

  <div th:if="${username}">
    Hi：[[${username}]]
  </div>

  <a href="/janken1/1">ぐー</a>
  <a href="/janken1/2">ちょき</a>
  <a href="/janken1/3">ぱー</a>

  <div th:if="${hand}">
    <p>あなたの手 [[${hand}]]</p>
    <p>相手の手 Gu </p>
    <p>結果 [[${result}]]</p>
  </div>
</body>

</html>
