<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <div th:if="${entry}">
    エントリー
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>

  <p th:if="${users}"></p>

  <div th:each="users,stat:${users}">
    <tr>
      <td>Index:[[${stat.index}]]</td>
      <td>ID:[[${users.id}]]</td>
      <td>ユーザ名:[[${users.name}]]</td>
    </tr>
  </div>
  </p>

  <p>
  <div>
    <a href="/janken/1">ぐー</a>
    <a href="/janken/2">ちょき</a>
    <a href="/janken/3">ぱー</a>
  </div>
  </p>
  <div th:if="${hand}">
    <p>
      あなたの手 [[${hand}]]
    </p>
    <p>
      相手の手 Gu
    </p>
    <p>
      結果 [[${result}]]
    </p>
    <p th:if="${matches}"></p>

    <div th:each="matches,stat:${matches}">
      <tr>
        <td>Index:[[${stat.index}]]</td>
        <td>ID:[[${matches.id}]]</td>
        <td>ユーザ1:[[${matches.user1}]]</td>
        <td>ユーザ2:[[${matches.user2}]]</td>
        <td>ユーザ1の手:[[${matches.user1Hand}]]</td>
        <td>ユーザ2の手:[[${matches.user2Hand}]]</td>
      </tr>
    </div>
    </p>
  </div>


</body>

</html>
