<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Match</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Match</h1>

  <div th:each="aite,stat:${aite}" th:if="${username}">
    <h2>[[${username}]] V.S. [[${aite.name}]]</h2>

  <p>
    <a th:href="@{/wait/?param1=1&(id=${aite.id})}">ぐー</a>

    <a th:href="@{/wait/?param1=2&(id=${aite.id})}">ちょき</a>

    <a th:href="@{/wait/?param1=3&(id=${aite.id})}">ぱー</a>
  </p>
</div>


  <div th:if="${hand}">
    <p>
      あなたの手 [[${hand}]]
    </p>
    <p>
      相手の手 Gu
    </p>
    <p>
      結果 [[${result}]]
    </p>
  </div>

  <a href="/janken">もどる</a>
</body>
